//part of page that shows twitter messages
.grid-33
    .app--section
        ul.app--message--list
            if messages
                each message in messages
                    li
                        h3
                            | Conversation with
                            a  #{message.recipient.name}
                        ul.app--message--conversation
                            li.app--message
                                .app--avatar(style='background-image: url(' + message.recipient.profile_image_url + ')')
                                p.app--message--text= message.text
                                span.app--message--timestamp= moment(message.created_at, "ddd MMM HH:mm:ss Z YYYY").format("DD/MM/YYYY, HH:mm")

