extends layout.pug
block content
        include footer.pug
        .bounds.app--body
            include header.pug
            include timeline.pug
            include friends.pug
            include messages.pug

