extends layout.pug
block content
        include partials/footer
        .bounds.app--body
            include partials/header.pug
            include partials/timeline
            include partials/friends
            include partials/messages
            include javascript

